.page {
    display: flex;
    justify-content: center;
}
.container {
    padding:5px;
    border:1px solid;
    display:inline-block;
    margin:5px
}


nav {
    float: right;
    font-size: 10pt;
}


